
.button {
  background-color: #4004FD;
  color: #fff;
  width: 160px;
  border: none;
  border-radius: 3px;
  padding: 8px 24px;
  font-size: 14px;
  display: block;
  margin: 0 auto 24px;
  cursor: pointer;
}